:root {
  --oj-background-color-0: #f0eded;
  --oj-background-color: #e2dfdf;
  --oj-background-color-1: #c2bfbf;

  --oj-primary-0: #8c8260;
  --oj-primary: #625b43;
  --oj-primary-1: #625b43;

  --oj-text-color-0: #fafafa;
  --oj-text-color-1: #949490;
  --oj-text-color: #4a4a48;
  --oj-text-color-2: #2b2a22;
  --oj-text-color-3: #1a1911;

  --oj-h0-size: 10rem;
  --oj-h1-size: 8.4rem;
  --oj-h2-size: 7.2rem;
  --oj-h3-size: 6.4rem;
  --oj-h4-size: 4.8rem;
  --oj-h5-size: 4rem;
  --oj-h6-size: 3.6rem;
  --oj-h7-size: 3.2rem;
  --oj-h8-size: 2.4rem;
  --oj-h9-size: 2rem;

  --oj-p0-size: 2.4rem;
  --oj-p1-size: 2rem;
  --oj-p2-size: 1.8rem;
  --oj-p3-size: 1.6rem;
  --oj-p4-size: 1.4rem;
  --oj-p5-size: 1.2rem;

  --font-family: 'Poppins', sans-serif;
}
